Repository ChrisTimperley/check-the-vibes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check

.pre-commit-config.yaml:

repos:
  # Built-in hooks for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # Check for trailing whitespace
      - id: trailing-whitespace
        exclude: \.(png|jpg|jpeg|gif|svg|ico|pdf|zip|tar|gz|bz2)$

      # Ensure files end with a newline
      - id: end-of-file-fixer
        exclude: \.(png|jpg|jpeg|gif|svg|ico|pdf|zip|tar|gz|bz2)$

      # Check for large files that shouldn't be committed
      - id: check-added-large-files
        args: ['--maxkb=1000']

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check YAML syntax
      - id: check-yaml
        exclude: ^\.github/workflows/

      # Check JSON syntax
      - id: check-json

      # Prevent committing to main/master
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'master']

  # ESLint for TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: node
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false
        require_serial: true

      # Prettier for code formatting
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: node
        files: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
        pass_filenames: false
        require_serial: true

      # TypeScript type checking
      - id: typescript-check
        name: TypeScript Check
        entry: npm run type-check
        language: node
        files: \.(ts|tsx)$
        pass_filenames: false
        require_serial: true

  # Additional hooks for specific file types
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(md|yaml|yml)$
        exclude: |
          (?x)^(
              coverage/.*|
              dist/.*|
              node_modules/.*|
              \.git/.*
          )$

infra: added pre-commit commands to package.json
  package.json
Due: prettier

refactor: tided JSON file formatting
  .eslintrc.json
  .gitignore
  .prettierrc
Due: prettier

refactor: formatted YAML files
  .github/workflows/lint.yml
  docs/api.yaml
Due: prettier

infra: added pre-commit to devcontainer
  .devcontainer/devcontainer.json
Due: prettier

feat: registered schemas and routes
  src/routes/analyze.ts
  src/schemas/analyze-response.ts
  src/schemas/error.ts
  src/schemas/index.ts
  src/schemas/primitives.ts
  src/schemas/query-analyze.ts
  src/server.ts
Due: eslint, prettier, typescript-check

infra: relax restrictions on pushing to main
  .pre-commit-config.yaml
Due: prettier

docs: added high-level plan for implementation
  docs/PLAN.md
Due: prettier

docs/help: added .env.example
  .env.example
Due: none

infra: added reports to .gitignore
  .gitignore
Due: none

refactor: formatted DESIGN.md
  docs/DESIGN.md
Due: prettier

infra: added tasks.json for vscode/agents
  .vscode/tasks.json
Due: prettier

added horrible looking frontend
  frontend/index.html
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/components/BestPractices.tsx
  frontend/src/components/ContributorsTable.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/IssuesTable.tsx
  frontend/src/components/ProjectBoard.tsx
  frontend/src/components/PullRequestsTable.tsx
  frontend/src/components/SummaryCards.tsx
  frontend/src/data/mockData.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/types/index.ts
  frontend/src/utils/index.ts
  frontend/tailwind.config.js
  package-lock.json
  package.json
  vite.config.ts
Due: eslint, prettier, typescript-check

formatted code
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/components/BestPractices.tsx
  frontend/src/components/ContributorsTable.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/IssuesTable.tsx
  frontend/src/components/ProjectBoard.tsx
  frontend/src/components/PullRequestsTable.tsx
  frontend/src/components/SummaryCards.tsx
  frontend/src/data/mockData.ts
  frontend/src/main.tsx
  frontend/src/utils/index.ts
  frontend/tailwind.config.js
  vite.config.ts
Due: eslint, prettier, typescript-check

switched to mui
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/MuiApp.tsx
  frontend/src/TestApp.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tailwind.config.js
  package-lock.json
  package.json
Due: eslint, prettier, typescript-check

tidy: removed overall score
  frontend/src/App.tsx
  frontend/src/MuiApp.tsx
  frontend/src/data/mockData.ts
  frontend/src/types/index.ts
Due: eslint, prettier, typescript-check

refactor: tidy formatting
  frontend/src/App.tsx
  frontend/src/MuiApp.tsx
  frontend/src/TestApp.tsx
  frontend/src/index.css
  frontend/tailwind.config.js
Due: eslint, prettier, typescript-check

added mui best practices section
  frontend/src/MuiApp.tsx
  frontend/src/components/BestPractices.tsx
  frontend/src/data/mockData.ts
  frontend/src/types/index.ts
Due: eslint, prettier, typescript-check

refactor: purge tailwind
  docs/DESIGN.md
  frontend/src/App.tsx
  frontend/src/TestApp.tsx
  frontend/src/components/BestPractices.tsx
  frontend/src/components/ContributorsTable.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/IssuesTable.tsx
  frontend/src/components/ProjectBoard.tsx
  frontend/src/components/PullRequestsTable.tsx
  frontend/src/components/SummaryCards.tsx
  frontend/src/utils/index.ts
  frontend/tailwind.config.js
Due: eslint, prettier, typescript-check

infra: removed tailwind extension from devcontainer
  .devcontainer/devcontainer.json
Due: prettier

added more info to issues
  frontend/src/MuiApp.tsx
  frontend/src/data/mockData.ts
  frontend/src/types/index.ts
Due: eslint, prettier, typescript-check

Implement GitHub Clients (REST + GraphQL) with Rate Limiting and Error Handling (#7)
  package-lock.json
  package.json
  src/github/gql.ts
  src/github/index.ts
  src/github/octo.ts
Due: eslint, prettier, typescript-check

Added basic/mocked frontend with React, Vite, and MUI (#8)
  .devcontainer/devcontainer.json
  docs/DESIGN.md
  frontend/index.html
  frontend/src/MuiApp.tsx
  frontend/src/data/mockData.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/types/index.ts
  package-lock.json
  package.json
  vite.config.ts
Due: eslint, prettier, typescript-check

infra: added task for spinning up frontend
  .vscode/tasks.json
Due: prettier

frontend: added fake direct pushes section
  frontend/src/MuiApp.tsx
  frontend/src/data/mockData.ts
  frontend/src/types/index.ts
Due: eslint, prettier, typescript-check

deps: added @fastify/cors
  package-lock.json
  package.json
Due: prettier

feat: partially implemented direct pushes table
  frontend/src/MuiApp.tsx
  src/routes/analyze.ts
  src/server.ts
  src/services/github.ts
Due: eslint, prettier, typescript-check

infra: added dev:full script to package.json
  frontend/src/MuiApp.tsx
  package-lock.json
  package.json
Due: eslint, prettier, typescript-check

feature: implemented line counts in commits table
  src/services/github.ts
Due: eslint, prettier, typescript-check

feature: implemented ci column in commits table
  frontend/src/MuiApp.tsx
  frontend/src/types/index.ts
  src/services/github.ts
Due: eslint, prettier, typescript-check

feature: implemented correct logic for commits table
  frontend/src/MuiApp.tsx
  src/services/github.ts
Due: eslint, prettier, typescript-check

feature: added form to specify repo
  frontend/src/MuiApp.tsx
Due: eslint, prettier, typescript-check

feature: added correct link from commit SHA to GitHub
  frontend/src/MuiApp.tsx
Due: eslint, prettier, typescript-check

fix: fixed logic for identifying relevant commits
  src/services/github.ts
Due: eslint, prettier, typescript-check

feature: added prototype contributors integration
  frontend/src/MuiApp.tsx
  frontend/src/types/index.ts
  src/routes/analyze.ts
  src/schemas/analyze-response.ts
Due: eslint, prettier, typescript-check

tidy: removed unnecessary widgets
  frontend/src/MuiApp.tsx
Due: eslint, prettier, typescript-check

tidy: converted PRs from cards to tables
  frontend/src/MuiApp.tsx
Due: eslint, prettier, typescript-check

api: removed scores section
  docs/api.yaml
Due: prettier

Refactor React frontend into modular components (#9)
  frontend/src/MuiApp.tsx
  frontend/src/components/ContributorsSection.tsx
  frontend/src/components/DirectPushesSection.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/IssuesSection.tsx
  frontend/src/components/PullRequestsSection.tsx
  frontend/src/components/RepositoryHygieneSection.tsx
  frontend/src/components/RepositoryInput.tsx
  frontend/src/components/index.ts
  frontend/src/utils/dateUtils.ts
  frontend/src/utils/theme.ts
Due: eslint, prettier, typescript-check

Remove hygiene section from frontend, backend, and API (#10)
  frontend/src/MuiApp.tsx
  frontend/src/components/RepositoryHygieneSection.tsx
  frontend/src/components/index.ts
  frontend/src/data/mockData.ts
  frontend/src/types/index.ts
  src/routes/analyze.ts
  src/schemas/analyze-response.ts
  src/server.ts
Due: eslint, prettier, typescript-check

infra: added openapi extension to devcontainer
  .devcontainer/devcontainer.json
Due: prettier
